.main-products {
  margin-top: 10px;
  width: 100%;
}

.main-title {
  margin: 0 auto;
  width: fit-content;
}

.products {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.products-title {
  border-bottom: rgba(246, 196, 45, 1) 2px solid;
  width: 15%;
}

.all-categories-section {
  margin-top: 30px;
  border: 2px solid black;
  margin-left: 20px;
  display: flex;
  gap: 20px;
  width: 70%;
  height: 200px;
}

.all-categories-item1,
.all-categories-item2,
.all-categories-item3 {
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.all-categories-item1 {
  background-image: url("../../../Assets/products/internals/download.jpeg");
}

.all-categories-item2 {
  background-image: url("../../../Assets/products/externals/d.jpeg");
}

.all-categories-item3 {
  background-image: url("../../../Assets/products/desks/download.jpeg");
}

/* product details */

.product-container {
  width: 90%;
  height: 100%;
  margin: 10px auto 0 auto;
}

.product-details-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  border-bottom: 3px solid rgba(246, 196, 45, 1);
  width: fit-content;
}

.back-button {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: rgba(246, 196, 45, 1);
  border-radius: 20px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  border: none;
}

.back-button:hover {
  scale: 1.2;
}

.card-item {
  width: 18rem;
  cursor: pointer;
}

.product-image {
  border: 1px solid gray;
}

.product-details {
  display: flex;
  gap: 10px;
}
.product-details-text {
  display: flex;
  margin-bottom: 20px;
}
.product-details-det {
  border-left: 1px gray solid;
  margin-left: 15px;
}
.product-details-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productDetails-add-button {
  color: white;
  background-color: rgba(246, 196, 45, 1);
  border: none;
  border-radius: 10px;
}

.productDetails-buy-button {
  color: white;
  background-color: green;
  border: none;
  border-radius: 10px;
}

.productDetails-buy-button:hover,
.productDetails-add-button:hover {
  background-color: rgba(47, 47, 47, 1);
}

.arrow-button {
  position: sticky;
  z-index: 6;
  background-color: rgba(246, 196, 45, 1);
  color: white;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
}

@media (max-width: 835px) {
  .card-item {
    width: 9rem;
  }
  .product-image {
    width: 40%;
  }
}
